alabaster==0.7.12 ; python_version >= "3.7"
babel==2.10.3 ; python_version >= "3.7"
beautifulsoup4==4.11.1 ; python_version >= "3.7"
certifi==2022.6.15 ; python_version >= "3.7"
charset-normalizer==2.0.12 ; python_version >= "3.7"
colorama==0.4.5 ; sys_platform == "win32" and python_version >= "3.7"
cycler==0.11.0 ; python_version >= "3.7"
docutils==0.19 ; python_version >= "3.7"
fonttools==4.37.1 ; python_version >= "3.7"
furo==2022.6.21 ; python_version >= "3.7"
graphviz==0.20.1 ; python_version >= "3.7"
idna==3.3 ; python_version >= "3.7"
imagesize==1.4.1 ; python_version >= "3.7"
importlib-metadata==4.12.0 ; python_version >= "3.7" and python_version < "3.10"
jinja2==3.1.2 ; python_version >= "3.7"
joblib==1.1.0 ; python_version >= "3.7"
kiwisolver==1.4.4 ; python_version >= "3.7"
markupsafe==2.1.1 ; python_version >= "3.7"
matplotlib==3.5.3 ; python_version >= "3.7"
numpy==1.21.1 ; python_version >= "3.7"
packaging==21.3 ; python_version >= "3.7"
pandas==1.1.5 ; python_version >= "3.7"
pillow==9.2.0 ; python_version >= "3.7"
prettytable==3.0.0 ; python_version >= "3.7"
pygments==2.13.0 ; python_version >= "3.7"
pyparsing==3.0.9 ; python_version >= "3.7"
python-dateutil==2.8.2 ; python_version >= "3.7"
pytz==2022.2.1 ; python_version >= "3.7"
requests==2.27.1 ; python_version >= "3.7"
scikit-learn==1.0.2 ; python_version >= "3.7"
scipy==1.6.1 ; python_version >= "3.7"
setuptools-scm==6.4.2 ; python_version >= "3.7"
setuptools==57.5.0 ; python_version >= "3.7"
six==1.16.0 ; python_version >= "3.7"
snowballstemmer==2.2.0 ; python_version >= "3.7"
soupsieve==2.3.2.post1 ; python_version >= "3.7"
sphinx-basic-ng==0.0.1a12 ; python_version >= "3.7"
sphinx-gallery==0.11.1 ; python_version >= "3.7"
sphinx==5.1.1 ; python_version >= "3.7"
sphinxcontrib-applehelp==1.0.2 ; python_version >= "3.7"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.7"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.7"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.7"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.7"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.7"
sphinxemoji==0.2.0 ; python_version >= "3.7"
termcolor==1.1.0 ; python_version >= "3.7"
threadpoolctl==3.1.0 ; python_version >= "3.7"
tomli==2.0.1 ; python_version >= "3.7"
typing-extensions==4.3.0 ; python_version < "3.8" and python_version >= "3.7"
urllib3==1.22 ; python_version >= "3.7"
wcwidth==0.2.5 ; python_version >= "3.7"
zipp==3.8.1 ; python_version >= "3.7" and python_version < "3.10"
